<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MinBehavior" name="Service.BSIService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="Service.IBSIService">
          <identity>
            <dns value="BSICert"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding" contract="Service.ISecureBSIService">
          <identity>
            <dns value="BSICert"/>
          </identity>
        </endpoint>
        <endpoint address="http://localhost:8035/Design_Time_Addresses/Service/BSIService/" binding="wsHttpBinding" name="wsHttpBinding" contract="Service.IBSIService"/>
        <endpoint address="http://localhost:8034/Design_Time_Addresses/Service/BSIService/" binding="wsHttpBinding" bindingConfiguration="SecureWSHttpBinding" name="SecureWSHttpBinding" contract="Service.ISecureBSIService"/>
        <endpoint address="http://localhost:8039/Design_Time_Addresses/Service/BSIService/" binding="basicHttpBinding" name="basicHttpBinding" contract="Service.IBSIService"/>
        <endpoint address="https://localhost:8036/Design_Time_Addresses/Service/BSIService/" binding="basicHttpBinding" bindingConfiguration="SecureBasicHttpBinding" name="SecureHttpBinding" contract="Service.ISecureBSIService"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8033/Design_Time_Addresses/Service/BSIService/"/>
            <add baseAddress="net.tcp://localhost:8033/Design_Time_Addresses/Service/BSIService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MinBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceCredentials>
            <serviceCertificate storeLocation="LocalMachine" storeName="Root" findValue="BSICert" x509FindType="FindBySubjectName"/>
            <clientCertificate>
              <authentication revocationMode="NoCheck"/>
              <certificate storeLocation="LocalMachine" storeName="Root" findValue="BSICert" x509FindType="FindBySubjectName"/>
            </clientCertificate>
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider" membershipProviderName="BSI"/>
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="BSI"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="SecureWSHttpBinding" receiveTimeout="00:10:00">
          <security mode="Message">
            <message clientCredentialType="UserName" negotiateServiceCredential="false"/>
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="SecureBasicHttpBinding" receiveTimeout="00:10:00">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.web>
    <membership>
      <providers>
        <add name="BSI" type="Service.BSIMembershipProvider, Service"/>
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <add name="BSI" type="Service.BSIRoleProvider, Service"/>
      </providers>
    </roleManager>
    <compilation debug="true"/>
  </system.web>
</configuration>